<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.cart.mapper.CartInfoMapper">
    <resultMap id="cartMap" type="com.atguigu.gmall.bean.CartInfo" autoMapping="true">
        <id property="id" column="id"></id>
        <result property="skuPrice" column="price"></result>
    </resultMap>
    <select id="selectCartListWithCurPrice" resultMap="cartMap">
        SELECT
            ci.*,
            si.price
        FROM
            sku_info si
        INNER JOIN
            cart_info ci
        ON
            si.id=ci.sku_id
        WHERE
            ci.user_id=#{userId}
        ORDER BY
            ci.id DESC
    </select>
</mapper>